@font-face {
    font-family: NeoSansArabic ;
    src: url(../fonts/alfont_com_AlFont_com_NeoSansArabic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NeoSansArabic', 'sans-serif';
    direction: rtl;
}

:root{
    --main-color: #39B54A;
    --second-color: #333333;
    --bg-color: #eaebed;
    --gray-color: #777;
    --white-color: #fff;
    --black-color: #000;
    --padding-top: 20px;
    --padding-left: 80px;
}

/* Start Global */

p {
    font-size: 16px;
    color: var(--gray-color);
    line-height: 1.6;
}

a {
    text-decoration: none;
    font-size: 16px;
}

ul {
    list-style: none;
}

/* End Global */
.renew-pw{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.renew-pw .left-section{
    position: relative;
    width: 50%;
    height: 100%;
}

.renew-pw .left-section::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top , rgba(0,0,0,1), rgba(0,0,0,0) );
    z-index: 1;
    mix-blend-mode: screen;
}

.renew-pw .left-section img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.fa-arrow-right {
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--bg-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: -10px;
    color: #000;
}

.right-section {
text-align: right;
}

.renew-pw .nav-log {
    padding: 10px 0;
}

.renew-pw {
    margin: auto;
}

.renew-pw-div {
    width: 70%;
    margin: auto;
    margin-top: 5%;
}

.renew-pw .right-section {
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.renew-pw .right-section .logo{
    margin: 20px 30px;
}
.renew-pw h1 {
    margin-top: 40px;
    font-size: 24px;
    margin-bottom: 10px;
}

.renew-pw p {
    font-size: 18px;
    margin-bottom: 10px;
}

.renew-pw p span {
    font-size: 14px;
    font-weight: bold;
    display: block;
    color: var(--black-color);
}

.renew-pw .feild label {
    font-size: 17px;
    margin-bottom: 10px;
}

.renew-pw .feild input {
    font-size: 14px;
    width: 100%;
    border: none;
    outline: none;
    padding: 20px 20px;
    background-color: var(--bg-color);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    margin: 10px 0;
}

.left-section img {
    height: 100vh;
}


.renew-pw .feild span {
    color: var(--gray-color);
    font-size: 12px;
}

.renew-pw .pw-div {
    position: relative;
    margin: auto;
}
.renew-pw .pw-div i {
    position: absolute;
    color: var(--gray-color);
    cursor: pointer;
    padding: 10px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#verify {
    background-color: var(--main-color);
    color: var(--white-color);
    border: none;
    outline: none;
    padding: 15px 20px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-size: 17px;
}

@media (max-width:991px) {
    
.renew-pw .left-section{
        display: none;
    }
    
.renew-pw .right-section{
        width: 100%;
        height: 100vh;
        z-index: 3;
    }
}