* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
    direction: rtl;
}

:root{
    --main-color: #39B54A;
    --second-color: #333333;
    --bg-color: #eaebed;
    --gray-color: #777;
    --white-color: #fff;
    --black-color: #000;
    --padding-top: 20px;
    --padding-left: 80px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    border: 8px solid var(--main-color);
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation-name: spinner-loading;
    animation-duration: 0.5s;
    /* animation-iteration-count: 2; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.bg {
    width: 100px;
    height: 100px;
    border: 8px solid var(--bg-color);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@keyframes spinner-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}